body
{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}
header
{
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: 100%;
    height: 30px;
}
.left-area h3
{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
.left-area span
{
    color: #1DC4E7;
}
.right-area .navbar
{
    margin-left: 50px;
}
.right-area
{
    
    padding-left: 650px;
}
.right-area ul
{
    
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}
.right-area ul li
{
    
    
    float: right;
    
    
}
.right-area ul li a
{
    width: 100px;
    color: wheat;
    display: block;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    
}

.right-area ul li ul li
{
    margin-top: 40px;
    float: none;
}
.right-area ul li ul
{
    display: none;
}
.right-area ul li:hover ul
{
    display: block;
}

.logout_btn
{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover
{
    background: yellowgreen;
}
.sidebar
{
    background: #2F322A;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profile-img
{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar h4
{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a
{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover
{
    background: #19B3D3;
}
.sidebar i
{
    padding-right: 10px;
}
label #sidebar_btn
{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover
{
    color: #19B3D3;
}
#check:checked ~ .sidebar
{
    left: -190px;
}
#check:checked ~ .sidebar a span
{
    display: none;
}
#check:checked ~.sidebar a
{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.content
{
    margin-left: 250px;
    background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url(images/res1.jpg);
    background-position: center;
    
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .content
{
    margin-left: 60px;
}
#check
{
    display: none;
}
.content .form
{
    width: 620px;
    height: 550px;
    
    color: #fff;
    top: 55%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),red;
}

.content .tableform1
{
    width: 300px;
    height: 150px;
    
    color: #fff;
    top: 55%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    background: yellowgreen;
}
.content .tableform1 a
{
    margin-left: 70px;
}

.content .tableform2
{
    width: 300px;
    height: 150px;
    
    color: #fff;
    top: 55%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    background: yellowgreen;
}
.content .tableform2 a
{
    margin-left: 70px;
}

.content .tableform3
{
    width: 300px;
    height: 150px;
    
    color: #fff;
    top: 85%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    background: yellowgreen;
}
.content .tableform3 a
{
    margin-left: 70px;
}

.content .formtable
{
    width: 940px;
    height: 350px;
    
    color: #fff;
    top: 55%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),red;
}

.content .formshowpic
{
    width: 620px;
    height: 1050px;
    
    color: #fff;
    top: 100%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),red;
}

.content .aboutform
{
    width: 850px;
    height: 500px;
    
    color: #fff;
    top: 55%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),red;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.form input
{
    width: 100%;
    margin-bottom: 20px;
}
.form input[type="text"], input[type="text"], input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.form select[name="type"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.form input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
}
.form input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}



.formshowpic input
{
    width: 100%;
    margin-bottom: 20px;
}
.formshowpic input[type="text"], input[type="text"], input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.formshowpic select[name="type"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.formshowpic input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
}
.formshowpic input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

/*----offer----*/

.content .form1
{
    width: 820px;
    height: 550px;
    
    color: #fff;
    top: 55%;
    left: 60%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.8)),red;
}



.form1 input
{
    width: 100%;
    margin-bottom: 20px;
}
.form1 input[type="text"], input[type="text"], input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.form1 select[name="type"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: green;
    font-size: 16px;
}
.form1 input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 30px;
}
.form1 input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}




.content .card
{
    
    text-align: center;
    color: #fff;
    top: 31%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.content .card1
{
    
    text-align: center;
    color: #fff;
    top: 31%;
    left: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.content .card2
{
    
    text-align: center;
    color: #fff;
    top: 31%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.content .card3
{
    
    text-align: center;
    color: #fff;
    top: 73%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.content .card4
{
    
    text-align: center;
    color: #fff;
    top: 73%;
    left: 55%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.content .card5
{
    
    text-align: center;
    color: #fff;
    top: 73%;
    left: 80%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    
}
.card-img-top
{
    
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.card-title
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}
.card-text
{
    margin: 0;
    padding: 0;
}
.btn
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
    text-decoration: none;
    
    line-height: 20px;
    color: darkgray;
}
.btn:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

/*----scrolling table----*/
.my-custom-scrollbar {
    position: relative;
    width: 900px;
    height: 200px;
    overflow: auto;
    }
    .table
    {
        color: white;
    }
    .table-wrapper-scroll-y {
    display: block;
    }


    .My-custom-scrollbarr {
        position: relative;
        width: 700px;
        height: 200px;
        margin-left: 70px;
        overflow: auto;
        }
        .table
        {
            color: white;
        }
        .table-wrapper-scroll-y {
        display: block;
        }